<form action="/user/login" method="POST">
    <input type="email" placeholder="Email" name="email"><br>
    <input type="password" placeholder="Password" name="password"><br>
    <button type="Submit">LOGIN</button>
</form>
<a href="/user/signup">SIGNUP</a>
