<!--overall sign up page for everyone-->
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/user/signup" method="POST" enctype="multipart/form-data">
            <input type="text" placeholder="Your Name" name="name">
            <input type="email" placeholder="Your Email" name="email">
            <input type="text" placeholder="Linkedin Profile" name="linkedin">
            <input type="text" placeholder="University" name="university">
            <input type="password" placeholder="Password" name="password">
            <input type="file" placeholder="Your Image" name="avatar">
            <button type="submit">SIGNUP</button>
        </form>
    </body>
</html>