<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/course/update/<%= id %>" enctype="multipart/form-data" method="POST">
            <input type="text" name="name" placeholder="Course Name"><br>
            <input type="Number" name="duration" placeholder="Duration"><br>
            <input type="Number" name="price" placeholder="Price"><br>
            <input type="text" name="eligibility" placeholder="Who are Elgible"><br>
            <input type="file" name="avatar" multiple placeholder="Thumbnail"><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>